<ul>
    {{#each}}
        <li>
            {{#if isLoaded}}
                <h2>{{title}}</h2>
                <div>
                    by: {{by}}
                </div>
                <div>
                    link: <a href="{{url}}">{{url}}</a>
                </div>
            {{else}}
                {{spinkit-spinner}}
            {{/if}}
        </li>
    {{/each}}
</ul>
