<ul id="stories-list">
    {{#each story in filteredContent}}
        <li>
            {{#if story.isLoaded}}
                <h2>{{story.title}}</h2>

                <div>
                    by: {{story.by}} - {{story.formattedDate}}
                </div>
                <div>
                    link: <a href="{{story.url}}">{{story.url}}</a>
                </div>
            {{else}}
                {{spinkit-spinner}}
            {{/if}}
        </li>
    {{/each}}
</ul>
